<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=windows-1252">
  <title>Garde à vue</title>


  <style type="text/css">
<!--
@page { size: 14.8cm 21cm; margin: 2cm }
P { margin-bottom: 0.21cm }
-->
  </style>
</head>


<body style="direction: ltr;" lang="fr-FR">

<p style="margin-bottom: 0cm; text-align: center; color: rgb(0, 0, 153);"><font face="Verdana-Bold, sans-serif"><font style="font-size: 16pt;" size="4"><b>Demande
d'hospitalisation sur demande d'un tiers</b></font></font></p>

<span style="font-family: Arial;"><br>

Je
soussigné(e)</span><br style="font-family: Arial;">

<span style="font-family: Arial;"><br>

NOM:<br>

</span><span style="font-family: Arial;">Prénom:<br>

</span><span style="font-family: Arial;">Adresse
complète:<br>

</span><span style="font-family: Arial;">Né(e)
le: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; à:<br>

</span><span style="font-family: Arial;">Profession:<br>

</span><span style="font-family: Arial;">Agissant
en tant que: </span><br style="font-family: Arial;">

<br style="font-family: Arial;">

<span style="font-family: Arial;">demande,
conformément à l'article L 3212-1 du code de la
santé publique
régie par
la loi de 1990 et modifié par ordonnance du 15 juin 2000,
l'admission
en hospitalisation à la demande d'un tiers dans le service de
psychiatrie
de:</span><br style="font-family: Arial;">

<br style="font-family: Arial;">

<span style="font-family: Arial;">Mme ou M:<br>

</span><span style="font-family: Arial;">Né(e)
le: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; à:<br>

</span><span style="font-family: Arial;">Fils ou
fille
de:<br>

</span><span style="font-family: Arial;">Et
de:<br>

</span><span style="font-family: Arial;">Domicilié(e)
à:<br>

</span><span style="font-family: Arial;">Profession:<br>

<br style="font-family: Arial;">

</span><span style="font-family: Arial;">suivant
le certificat médical délivré par le Docteur
${nom}.</span><br style="font-family: Arial;">

<br style="font-family: Arial;">

<span style="font-family: Arial;">Fait
à </span><span style="text-decoration: underline; font-family: Arial;">&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp;&nbsp;</span><span style="font-family: Arial;">
le&nbsp;</span><span style="text-decoration: underline;"><span style="font-family: Arial;"> &nbsp;
&nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;</span>
</span><br>
<br>
<div style="text-align: right;"><span style="font-family: Arial;">Signature :
</span><br>
</div>
<br style="font-family: Arial; color: rgb(0, 0, 0);">

<span style="font-family: Arial;">Pièce
d'identité du malade :<br>

Carte
nationale d'identité ou permis de conduire ou passeport</span><br style="font-family: Arial;">

<span style="font-family: Arial;">n°</span><span style="text-decoration: underline; font-family: Arial;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
</span><span style="font-family: Arial;">délivré
le</span><span style="text-decoration: underline; font-family: Arial;">
&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;&nbsp;</span><span style="font-family: Arial;">à</span><span style="text-decoration: underline; font-family: Arial;">&nbsp;&nbsp;
&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; <br>

</span><span style="font-family: Arial;"><br>

Pièce
d'identité du demandeur:<br>

Carte
nationale d'identité ou permis de conduire ou passeport</span><br style="font-family: Arial;">

<span style="font-family: Arial;">n°</span><span style="text-decoration: underline; font-family: Arial;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</span><span style="font-family: Arial;">délivré
le</span><span style="text-decoration: underline; font-family: Arial;">
&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp;&nbsp; &nbsp;</span><span style="font-family: Arial;">à</span><span style="text-decoration: underline; font-family: Arial;">&nbsp;&nbsp;
&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; </span><span style="text-decoration: underline; font-family: Arial;"> </span>
<div align="right"><br>

<font style="font-size: 6pt; font-style: italic;" size="1"><span style="font-family: Arial;">
certificat&nbsp; généré par GeVi
© le
${dateGeneration}.</span>
</font></div>

</body>
</html>
