<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=windows-1252">
  <title>Coups et blessures</title>


  <style type="text/css">
<!--
@page { size: 14.8cm 21cm; margin: 2cm }
P { margin-bottom: 0.21cm }
-->
  </style>
</head>


<body style="direction: ltr;" lang="fr-FR">

<div style="text-align: center;" type="HEADER">
<img src="entete.gif" name="images1" align="middle" border="0" height="54" width="400"><br style="font-family: Arial;">

</div>

<br>

<p style="margin-bottom: 0cm;" align="center">CERTIFICAT
MÉDICAL POUR
COUPS ET BLESSURES</p>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<font face="Arial, sans-serif"><font size="2">Je
soussigné certifie
avoir examiné ce jour à …..H...... la
personne déclarant:</font></font></p>

<ul>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> <font face="Arial, sans-serif"><font size="2">se nommer:</font></font></p>

  </li>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> <font face="Arial, sans-serif"><font size="2">être âgé(e) de:</font></font></p>

  </li>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> <font face="Arial, sans-serif"><font size="2">Avoir été victime d'une
agression, d'un accident de la voie publique:</font></font></p>

  </li>

</ul>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<font face="Arial, sans-serif"><font size="2">Elle
se plaint:</font></font></p>

<ul>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> </p>

  </li>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> </p>

  </li>

</ul>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<font face="Arial, sans-serif"><font size="2">L'examen
clinique
constate:</font></font></p>

<ul>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> </p>

  </li>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> </p>

  </li>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> </p>

  </li>

  <li>
    <p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left"> </p>

  </li>

</ul>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<br>

</p>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<font face="Arial, sans-serif"><font size="2">Son
état justifie la
réalisation d'examens complémentaires, ne justifie
pas la
réalisation d'examens complémentaires.</font></font></p>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<font face="Arial, sans-serif"><font size="2">L'ITT
est de …........ jours.</font></font></p>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<font face="Arial, sans-serif"><font size="2">Certificat
fait à sa
demande, à la demande de:</font></font></p>

<p style="margin-bottom: 0cm; font-weight: normal; text-decoration: none;" align="left">
<font face="Arial, sans-serif"><font size="2">Et
remis en ses mains
pour valoir ce que de droit.</font></font>&nbsp;</p>

<span style="font-family: Arial;"></span>
<div style="text-align: right;"><br style="font-family: Arial;">

<span style="font-family: Arial;">Docteur ${nom}</span><br style="font-family: Arial;">

<span style="font-family: Arial;">${ADELI}</span>
</div>

<div style="font-family: Arial;" type="FOOTER">
<p style="margin-top: 0.5cm; margin-bottom: 0cm;" align="center"><font style="font-size: 8pt;" size="1">132 bis rue Dessaix, 73000 Chambéry<br>

Tel: 04.79.69.46.46 -
Fax: 04 79 85 82 92</font></p>

</div>

<div align="right">
<br>

<font style="font-size: 6pt; font-style: italic;" size="1"><span style="font-family: Arial;">
certificat&nbsp; généré par GeVi
© le
${dateGeneration}.</span>
</font></div>

</body>
</html>
